<div class="object_parameters_head">
	<p class="object_parameters_title">
		{{room.name}}
	</p>
	{% if room.price != '' %}
		<p class="object_parameters_price">
			от <span>{{room.price}} ₽</span> на человека
		</p>
	{% endif %}
</div>

<div class="object_parameters_list">
	
	<div class="object_parameters_item">
			<p class="object_parameters_type"><span>Тип </span></p>
			<span>{{ room.type_name }}</span>
	</div>

	<div class="object_parameters_item">
			<p class="object_parameters_type"><span>Вместимость </span></p>
			<a href="{{Slicer.banketvsamare(room.capacity)}}">{{ room.capacity }}</a>
	</div>

	{% if room.capacity_reception != '' %}
		<div class="object_parameters_item">
			<p class="object_parameters_type"><span>Вместимость на фуршет </span></p>
			<span>{{ room.capacity_reception }}</span>
		</div>
	{% endif %}

	{% if room.bright_room == 1 %}
		<div class="object_parameters_item">
			<p class="object_parameters_type"><span>Светлый зал </span></p>
			<span>Да</span>
		</div>
	{% endif %}

	{% if room.separate_entrance == 1 %}
		<div class="object_parameters_item">
			<p class="object_parameters_type"><span>Отдельный вход </span></p>
			<span>Да</span>
		</div>
	{% endif %}

</div>