<div class="restaurant_adv_wrapper">
	<div class="item" data-restaurant-name="{{item.restaurant_name}}" data-restaurant-address="{{item.restaurant_address}}" data-restaurant-phone="{{item.restaurant_phone}}" 
	data-restaurant-mapDotX="{{item.restaurant_latitude}}" data-restaurant-mapDotY="{{item.restaurant_longitude}}">

		<div class="item_info_top">
			<div class="item_info_top_description">
				<a href="/banket-{{item.restaurant_slug}}/" class="item_name">
					{{item.restaurant_name}}
				</a>
				<p class="item_type">
					{% for type in item.restaurant_types %}
						{{type.name}}<span>,</span> 
					{% endfor %}
				</p>
				{% if type != 'other' %}
					<p class="item_address" data-title-address><span class="_link">{{item.restaurant_address}}</span></p>
				{% endif %}
			</div>
			<div class="item_info_contacts _button_green" data-title-address>
				<span>Показать контакты</span>
			</div>
		</div>

		{% if item.rooms|length == 1 %}

			<div class="swiper-container item_listing_slider item_listing_slider_rooms">
				<div class="item_slider_wrapper swiper-wrapper">

					{% for room in item.rooms %}
						{% for image in room.images %}

							<a href="/banket-{{item.restaurant_slug}}/" class="item_slide swiper-slide">
								<div class="item_slide_img item_slide_room_img">
									<img src="{{image.subpath}}=w440-h302-n-l95" loading="lazy" alt="{{img_alt | replace({"**rest_name**" : item.restaurant_name})}}">
								</div>
							</a>

						{% endfor %}
					{% endfor %}
						
				</div>

				<div class="item_slider_prev swiper-button-prev"></div>
				<div class="item_slider_next swiper-button-next"></div>
			</div>

			{% for room in item.rooms %}
				<div class="item_room_info">
					{{room.name}} на {{room.capacity}} гостей 
					{% if room.price != '' %}
						от <span>{{room.price}} ₽</span> на человека
					{% endif %}
				</div>
			{% endfor %}

		{% else %}

			<div class="swiper-container item_listing_slider">
				<div class="item_slider_wrapper swiper-wrapper">

					{% for room in item.rooms %}

						<a href="/banket-{{item.restaurant_slug}}/" class="item_slide swiper-slide">
							<div class="item_slide_img">
								{% if room.images|length == 0 %}
									<img src="{{room.cover_url}}" loading="lazy" alt="{{img_alt | replace({"**rest_name**" : item.restaurant_name})}}">
								{% else %}
									<img src="{{room.images[0].subpath}}=w440-h302-n-l95" loading="lazy" alt="{{img_alt | replace({"**rest_name**" : item.restaurant_name})}}">
								{% endif %}
							</div>
							<div class="item_slide_info">
								<div class="item_slide_name">
									{{room.name}}
								</div>
								<div class="item_meta">
									<div class="item_meta_item">
										<span class="item_meta_label">Зал на </span><span class="item_meta_text">{{room.capacity}} гостей</span>
									</div>
									{% if room.price != '' %}
										<div class="item_meta_item">
											от <span class="item_meta_price">{{room.price}} ₽</span> на человека
										</div>
									{% endif %}
								</div>
							</div>
						</a>

					{% endfor %}

				</div>
				<div class="item_slider_prev swiper-button-prev"></div>
				<div class="item_slider_next swiper-button-next">
					
				</div>
				
			</div>

		{% endif %}

		<div class="item_info_bot">
			{% if item.restaurant_cuisine != '' %}
				<div class="item_info_bot_text item_cuisine">
					Кухня: <span>{{item.restaurant_cuisine}}</span>
				</div>
			{% endif %}
			<div class="item_info_bot_text item_own_cuisine">
				Есть своя кухня
			</div>
			{% if item.restaurant_extra_services != '' %}
				<div class="item_info_bot_text item_special">
					Особенности: <span>{{item.restaurant_extra_services}}</span>
				</div>
			{% endif %}

			{% if item.restaurant_own_alcohol != 'Нельзя свой алкоголь' and item.restaurant_own_alcohol != '' %}
				<div class="item_info_bot_text item_own_alcohol">
					{{item.restaurant_own_alcohol}}
				</div>
			{% endif %}

		</div>

		<a href="/banket-{{item.restaurant_slug}}/" class="item_btn_more _button _pink_button">Подробнее</a>

	</div>
</div>