<div class="item_page_wrapper" data-page-type="item">

{{ microdata | raw }}

	<div class="content_block" data-listing-title>
		<div class="content_block_wrap" >
			<a href="/" class="content_block_logo"></a>
			<a href="/" class="link_back"><span>Назад</span></a>

			{{ this.render('//components/generic/item_title.twig', {'seo':seo, 'item':item}) | raw }}

			<a class="show_contacts _button_green" data-title-address><span>Показать контакты</span></a>
			<a href="tel:{{ item.restaurant_phone|replace({' ':'', '-':''}) }}" class="button_call _button_green">
				<span data-mobile-text="Позвонить в {{item.restaurant_name}}">Позвонить</span>
			</a>
		</div>
	</div>

	<div class="content_block" data-page-type="item">
		{% for room in item.rooms %}
			<div class="object_head">

					<div class="object_gallery" data-gallery data-id="{{item.restaurant_id}}">

						<div class="swiper-container gallery-top">

							<div class="swiper-wrapper">

								{% if room.images|length == '' %} 
									<div class="swiper-slide">
										<img src="{{room.cover_url}}" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
									</div>
								{% else %}
									{% for image in room.images %}
										<div class="swiper-slide">
											<a href="{{image.waterpath}}=s0" data-lightbox="top_slider">
												<picture>
													<source srcset="{{image.subpath}}=w356-h248-n-l95-rw" type="image/webp">
													<source srcset="{{image.subpath}}=w356-h248-n-l95" type="image/jpeg"> 
													<img src="{{image.subpath}}=w356-h248-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
												</picture>
											</a>
										</div>
									{% endfor %}

								{% endif %}
									
							</div>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>

						</div>
					</div>

					<div class="object_parameters">

						{{ this.render('//components/generic/item_parameter_list.twig', {'item':item, 'restaurantSpec':restaurantSpec, 'room':room}) | raw }}
						
					</div>
			</div>

		{% endfor %}

		<div class="restaurant_parameters">
			<p class="restaurant_parameters_title">Особенности</p>
			
			<div class="restaurant_parameters_row">
				<div class="restaurant_parameters_column">

					<p class="restaurant_parameters_subtitle">Расположение</p>
					<div class="restaurant_parameters_list">

						{% for location in item.restaurant_location %}
							<p class="restaurant_parameters_item">
								{{location.name}}
							</p>
						{% endfor %}

					</div>
				</div>

				{% if item.restaurant_alcohol != '' or item.restaurant_own_alcohol != '' %}
					<div class="restaurant_parameters_column">
						<p class="restaurant_parameters_subtitle">Алкоголь</p>
						<div class="restaurant_parameters_list _marked">
								
								{% if item.restaurant_alcohol != '' %}
									<p class="restaurant_parameters_item">В наличии</p>
								{% endif %}
								{% if item.restaurant_own_alcohol != '' %}
									<p class="restaurant_parameters_item">{{item.restaurant_own_alcohol}}</p>
								{% endif %}

						</div>
					</div>
				{% endif %}

				{% set services = item.restaurant_extra_services|split(',') %}
				{% if item.restaurant_extra_services != '' %}
					<div class="restaurant_parameters_column">
						<p class="restaurant_parameters_subtitle">За дополнительную плату</p>
						<div class="restaurant_parameters_list _marked _big">
							{% for service in services %}
								<p class="restaurant_parameters_item">{{service}}</p>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>

	</div>

	<div class="content_block content_block_map">
		<div class="map_title">Расположение</div>
		<div class="map">
			<div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-balloon="" data-hint="">
			</div>
		</div>
	</div>

	<div class="content_block content_block_map _popup">
		<div class="map_popup_container">
			<div class="map_popup_info">
				<div class="map_popup_title">{{ item.restaurant_name }}</div>
				<div class="map_popup_address"><span>{{ item.restaurant_address }}</span></div>
				<a href="tel:{{ item.restaurant_phone|replace({' ':'', '-':''}) }}" class="map_popup_phone"><span>{{ item.restaurant_phone }}</span></a>
				<div class="map_popup_close"></div>
			</div>

			<div class="map_popup">
				<div id="map_popup" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-balloon="" data-hint=""></div>
			</div>
		</div>
	</div>

	{# {{ this.render('//components/generic/other_widjet.twig', {'items':other_rooms, 'restaurant_name':item.restaurant_name, 'restaurantMainSpec':restaurantMainSpec}) | raw }} #}

	{# <div class="content_block form_booking_wrapper">

		{{ this.render('//components/generic/form_booking.twig', {'items':other_rooms, 'venue_id':item.restaurant_gorko_id, 'minPrice': item.restaurant_price}) | raw }}

	</div> #}

	<div class="content_block form_callback_wrapper"> 
		<div >
			{{ this.render('//components/generic/form_callback.twig') | raw }}
		</div>
	</div>

</p>