<div data-key>
    <div class="blog_item_wrapper">

        <a class="blog_item" href="{{ post.getUrl() }}">

          <img class="blog_item_img" src="{{ post.getFileData('image').src }}" alt="blog article image">

          {# <div class="blog_item_text_wrapper"> #}

            <div class="blog_item_title">
              <span>{{ post.name }}</span>
            </div>

            <div class="blog_item_text">
              {{ post.short_intro }}
            </div>

    		<div class="blog_item_date">
              {{ post.rusDate }}
            </div>

          {# </div> #}

        </a>
        
    </div>
</div>